md-toolbar.md-accent(style="min-height: 0; border-bottom: 1px solid rgba(0,0,0,0.12); overflow: hidden")
  .md-toolbar-tools.max-width-5.mx-auto.justify-center
    nav
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="service.process") Process
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="service.benefits") Benefits
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="service.area") Area
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="service.quote") Quote
ui-view
