.update-media {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 56.25%;
}
.update-media iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

skycon, .skycon {
  position: relative;
  padding-right: 50%;
}

skycon canvas,
.skycon canvas {
  position: absolute;
  top: 0;
}

.cms-weather-window {
  height: 100%;
  position: relative;
}
// .cms-weather-window {
//   opacity: 0.5;
//   transition: all .3s ease;
// }
// .cms-weather-window:hover,
// md-card:hover .cms-weather-window {
//   opacity: .9;
// }
