.update-media {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
}
.update-media iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

skycon canvas {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cms-weather-window {
  opacity: 0.5;
  transition: all .3s ease;
}
.cms-weather-window:hover,
md-card:hover .cms-weather-window {
  opacity: .9;
}
