@import "./basscss/basscss";
// @import "./pages/quote";

body { background-color: $body }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  // font-family: 'Source Sans Pro';
}

[ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important }

// centering toast notification
.md-center {
  left: 50%;
  margin-top: 68px;
  transform: translateX(-50%);
}

// Add bg & margin to outlet to allow footer display
#main {
  background-color: $body;
  margin-bottom: 64px;
}

// Disable outlet margin since the footer is hidden on active session
#session #main { margin: 0; }

/*
 * Mobile view
 */
@media screen and (max-width: 40em) {
  header md-toolbar nav {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  // Shrink outlet margin
  #main { margin-bottom: 54px }
}
