section.row
  h3.col-md-12.text-center Restore your password
  p.small.text-center Enter your account username.
  .col-xs-offset-2.col-xs-8.col-md-offset-5.col-md-2
    form.form-horizontal(name='vm.forgotPasswordForm', ng-submit='vm.askForPasswordReset(vm.forgotPasswordForm.$valid)', novalidate='', autocomplete='off')
      fieldset
        .form-group(show-errors='')
          input#username.form-control(type='text', name='username', ng-model='vm.credentials.username', placeholder='Username', lowercase='', required='')
          div(ng-messages='vm.forgotPasswordForm.username.$error', role='alert')
            p.help-block.error-text(ng-message='required') Enter a username.
        .text-center.form-group
          button.btn.btn-primary(type='submit') Submit
        .text-center.text-danger(ng-show='vm.error')
          strong(ng-bind='vm.error')
        .text-center.text-success(ng-show='vm.success')
          strong(ng-bind='vm.success')
