section.row
  h3.col-md-12.text-center Reset your password
  .col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4
    form.signin.form-horizontal(name='vm.resetPasswordForm', ng-submit='vm.resetUserPassword(vm.resetPasswordForm.$valid)', novalidate='', autocomplete='off')
      fieldset
        .form-group(show-errors='')
          label(for='newPassword') New Password
          input#newPassword.form-control(type='password', name='newPassword', ng-model='vm.passwordDetails.newPassword', placeholder='New Password', autocomplete='new-password', uib-popover='{{vm.getPopoverMsg()}}', uib-popover-trigger='focus', uib-popover-placement='top', password-validator='', required='')
          div(ng-messages='vm.resetPasswordForm.newPassword.$error', role='alert')
            p.help-block.error-text(ng-message='required') Enter a new password.
            div(ng-repeat='passwordError in passwordErrors')
              p.help-block.error-text(ng-show='vm.resetPasswordForm.newPassword.$error.requirements') {{passwordError}}
        .form-group(show-errors='')
          label(for='verifyPassword') Verify Password
          input#verifyPassword.form-control(type='password', name='verifyPassword', ng-model='vm.passwordDetails.verifyPassword', placeholder='Verify Password', password-verify='vm.passwordDetails.newPassword', required='')
          div(ng-messages='vm.resetPasswordForm.verifyPassword.$error', role='alert')
            p.help-block.error-text(ng-message='required') Enter the password again to verify.
            p.help-block.error-text(ng-show='vm.resetPasswordForm.verifyPassword.$error.passwordVerify') Passwords do not match.
        .form-group(ng-show='!vm.resetPasswordForm.newPassword.$error.required')
          label Password Requirements
          uib-progressbar(value='requirementsProgress', type='{{requirementsColor}}')
            span(style='color:white; white-space:nowrap;') {{requirementsProgress}}%
        .text-center.form-group
          button.btn.btn-primary(type='submit') Update Password
        .text-center.text-danger(ng-show='error')
          strong(ng-bind='vm.error')
        .text-center.text-success(ng-show='success')
          strong(ng-bind='vm.success')
