//- h1.center.md-display-1 Service Agreement
//- md-card.p4
p
  | Clear My Snow Corp. com - Clearmysnow.com (the &ldquo;Contractor&rdquo;) and 
  span.bold(ng-bind='vm.quote.clientName || "[owner name]"')
  | , (the &quot;Owner&quot;) by this Agreement made this 
  span.bold(ng-bind='(vm.dates.today | date:"MMMM dd, yyyy") || "[today\'s date]"')
  |  agree as follows:
ol
  li
    | The Contractor shall perform the snow clearing service (the &ldquo;Service&rdquo;) described herein, at the lands and premises municipally known as 
    span.bold(ng-bind='vm.quote.serviceAddress || "[address]"') 
    |  (the &ldquo;Premises&rdquo;) during the period commencing 
    span.bold(ng-if='!vm.quote.coverage || vm.quote.coverage === "SEASON_FULL"') {{ "15 November " + (vm.serviceYear || vm.dates.serviceYear) }}
    span.bold(ng-if='vm.quote.coverage = "SEASON_HOLIDAY" && vm.quote.holidayStartDate', ng-bind='vm.quote.holidayStartDate | date:"MMMM dd, yyyy"')
    span.bold(ng-if='vm.quote.coverage = "SEASON_SINGLE" && vm.quote.singleServiceDate', ng-bind='vm.quote.singleServiceDate | date:"MMMM dd, yyyy"')
    |  and ending 
    span.bold(ng-if='!vm.quote.coverage || vm.quote.coverage === "SEASON_FULL"') {{ "15 April " + ((vm.serviceYear || vm.dates.serviceYear) + 1) }}
    span.bold(ng-if='vm.quote.coverage = "SEASON_HOLIDAY" && vm.quote.holidayEndDate', ng-bind='vm.quote.holidayEndDate | date:"MMMM dd, yyyy"')
    span.bold(ng-if='vm.quote.coverage = "SEASON_SINGLE" && vm.quote.singleServiceDate', ng-bind='vm.quote.singleServiceDate | date:"MMMM dd, yyyy"')
    |  (the &ldquo;Season&rdquo;).
  li  The Owner of the Premises hereby acknowledges that the Owner has physical possession of, has control over and is responsible for the condition of the Premises.
  li
    | During the term of this Agreement the Contractor will attend at the Premises 
    u within 24 hours of 2&rdquo; (5 cm) of snow accumulating
    |  on the Premises to clear snow from the Driveway, being the paved vehicular passage and parking area adjoining the municipal roadway to the home or building on the Premises on which full-size passenger vehicles could park or pass, (the &ldquo;Driveway&rdquo;).
  li
    | If a further accumulation of 2&rdquo; (5 cm) occurs during a snowfall, the Contractor will return to again clear the snow accumulation on the Driveway, within 24 Hours of the end of that snowfall.
  li
    u
      | Service will not be provided after 7 AM, Christmas Day, December 25th. Service will resume after 9 PM.
  li
    | The Owner hereby confirms that the Service to be performed at the Premises shall be described as follows:
    br
    | A Large Driveway // Front step clearing - No // City sidewalk clearing - No
  li
    | In consideration for performing the Service the Contractor shall be paid a total sum of 
    span.bold(ng-bind='(vm.quote.total * 1.13 | currency) || "[grand total price]"') 
    |  (including applicable taxes) which payment is to be made to the Contractor prior to the start of contract. 
    u This Agreement is for a full Season.
    |  Contracts cancelled by the Owner prior to the start of service will be subject to a $50.00 administration fee and will be processed in the original payment form. If the Owner chooses to cancel the Contract after service has commenced, the Owner will receive a refund of the original cost minus the pro-rated cost of the total number of visits for snow removal and minus the $50.00 administration fee.
  li
    | The Owner acknowledges that the Contractor is not responsible for any damages or claims whatsoever relating to or caused in whole or in part by the failure to apply ice melting products to the Premises. The Owner further agrees to indemnify and save harmless the Contractor and its agents and employees from and against any such claims and acknowledges that the Owner has the sole responsibility to engage a reasonable and effective system to review and monitor the Premises in order to determine during the term of this Agreement whether or not ice melting products should be applied to the Premises.
  li
    | The Contractor shall have total control of the Service and shall provide all the labour, equipment and services necessary for its performance in accordance with this Agreement and in a good and workmanlike manner. The Contractor shall comply with all laws, rules, and regulations, which relate to the Service as at the date hereof. The Contractor will also be responsible for and shall restore at its expense all damage to the property of the Owner caused by the Contractor in performance of the Service which damage was not reasonably foreseeable as a consequence of the Contractor&rsquo;s performance of this Agreement. The Owner acknowledges that some damage to the property of the Owner is reasonably foreseeable as a consequence of the Contractor&rsquo;s performance of this Agreement, and such reasonably foreseeable damage includes, but is not limited to, damage to concrete, asphalt, sod, grass and planting materials and surface damage to curbs and asphalt due to the clearing of snow.
  li
    | If the Contractor is delayed in the performance of any portion of the Service by the presence of any vehicles, structures or equipment on the Premises which interfere with the Contractor&rsquo;s ability to perform the Service, or by an act or omission of the Owner, or by the application of a Municipal By-Law, or by a stop work order (providing the order was not issued as a result of an act or omission of the Contractor), or by labour disputes, lock outs, fire, or by any other circumstance reasonably beyond the Contractor&rsquo;s control including heavy winter conditions, then the time for the performance of that portion of the Service shall be extended until such time as the Contractor is no longer so delayed. The Contractor shall not be responsible for any damages or losses caused by the failure of the Contractor to perform that the Service during the time it was so delayed.
  li
    | Should the Owner default in their contractual obligations under this Agreement, the Contractor may give notice of the default to the Owner. Should the default remain uncorrected for a period of five (5) days thereafter, the Contractor without further notice to the Owner may stop work under this Agreement such that all of the Contractor&rsquo;s obligations hereunder will be suspended without limitation. The Owner will then have the sole responsibility to clear snow at the Premises and the Owner will be responsible for any damages or claims whatsoever relating to or caused in whole or in part by the failure to perform services to the Premises and the Owner will indemnify and save harmless the Contractor and its agents and employees from and against any such claims.
  li
    | Notices under this Agreement must be in writing and must be delivered in person or sent by regular mail, email or fax to the Owner 
    span.bold(ng-bind='vm.quote.clientName || "[owner name]"')
    |  or to the Contractor at Clear My Snow Corp., Attention John Larsen, 3211 A Lenworth Drive, Mississauga, Ontario L4X 2G6, fax no. 905-275-5969, email address: sales@clearmysnow.com. A notice will be considered to have been given or made on the day that it is delivered in person, sent by email or faxed. A notice that is provided by regular mail will be considered to have been given or made three (3) days following the date on which it is mailed.
p Clear My Snow Corp., Clearmysnow.com 
p
  | Per: John Larsen 
  br
  | Owner &amp; President
