h1.center.md-display-1 Privacy Policy
md-card.p4
  h2 ClearMySnow Corp&apos;s Commitment To Privacy
  p ClearMySnow Corp&apos;s privacy is important to us. To better protect ClearMySnow Corp&apos;s privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on ClearMySnow Corp&apos;s homepage and at every point where personally identifiable information may be requested.
  h2 The Information We Collect:
  p We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone. 
    br
    br
    | We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order. 
    br
    br
    | Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
  p This notice applies to all information collected or submitted on the ClearMySnow website. On some pages, you can order products, make requests, and register to receive materials. The types of personal information collected at these pages are:
  p Name 
    br
    | Address 
    br
    | Email address 
    br
    | Phone number 
    br
    | Credit/Debit Card Information 
    br
    | (etc.)
  p On some pages, you can submit information about other people. For example, if you order a gift online and want it sent directly to the recipient, you will need to submit the recipient&apos;s address. In this circumstance, the types of personal information collected are:
  p Name 
    br
    | Address 
    br
    | Phone Number 
    br 
    | (etc.)
  h2 The Way We Use Information:
  p We use the information you provide about yourself when placing an order only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order.
  p We use the information you provide about someone else when placing an order only to ship the product and to confirm delivery. We do not share this information with outside parties except to the extent necessary to complete that order.
  p We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.
  p You can register with our website if you would like to receive a updates on our new products and services. Information you submit on our website will not be used for this purpose unless you fill out the registration form.
  p We use non-identifying and aggregate information to better design our website and to share with advertisers. For example, we may tell an advertiser that X number of individuals visited a certain area on our website, or that Y number of men and Z number of women filled out our registration form, but we would not disclose anything that could be used to identify those individuals.
  p Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.
  h2 ClearMySnow Corp&apos;s Commitment To Data Security
  p To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. &nbsp;We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. 
    br  
    br 
    | Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for &quot;https&quot; at the beginning of the address of the web page. 
    br  
    br 
    | While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
  h2 ClearMySnow Corp&apos;s Commitment To Children&apos;s Privacy:
  p Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.
  h2 Links
  p This web site contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
  h2 How To Contact Us
  p Should you have other questions or concerns about these privacy policies, please call us at 905.274.2029 or send us an email at 
    a(href='mailto:sales@clearmysnow.com') sales@clearmysnow.com.
