section
  .page-header
    h1
      | Quotes
      a.btn.btn-primary.pull-right(data-ui-sref='admin.quotes.create')
        i.glyphicon.glyphicon-plus
  .list-group
    a.list-group-item(data-ng-repeat='quote in vm.quotes', data-ui-sref='admin.quotes.edit({quoteId: quote._id})')
      small.list-group-item-text
        | Posted on
        span(data-ng-bind="quote.created | date:'mediumDate'") 
        | by
        span(ng-if='quote.user', ng-bind='quote.user.displayName')
        span(ng-if='!quote.user') Deleted User
      h4.list-group-item-heading(data-ng-bind='quote.title')
      p.list-group-item-text(data-ng-bind='quote.content')
  .alert.alert-warning.text-center(data-ng-if='quotes.$resolved && !quotes.length')
    | No quotes yet, why don&apos;t you 
    a(data-ui-sref='admin.quotes.create') create one
    | ?
