md-progress-circular.md-warn.absolute.center-center(ng-if='vm.progress', md-mode='indeterminate')

.px2.mt3.flex.flex-column.justify-between(style='min-height: calc(100vh - (64px + (48px * 2) + 35px))')
  md-button.m2.p1.md-whiteframe-2dp(
  ngf-select="vm.upload($file, $invalidFiles)")
    h3.thin.caps.center Select a file
  md-button.m2.p1.md-whiteframe-2dp(
  ng-click='vm.dropPlaces()')
    h3.thin.caps.center Delete Locations
