.px2.mt3.flex.flex-column
  md-button.m2.p3.transition(
  ng-repeat='method in vm.exportMethods',
  ng-mouseenter='method.hover = true',
  ng-mouseleave='method.hover = false',
  ng-click='vm.exportTo(method)').md-whiteframe-2dp
    h3.thin.caps.center {{ method.label }}
    
