md-nav-bar(md-theme='alt' md-selected-nav-item='parent.activeChildRoute', aria-label='routing nav')
  md-nav-item(md-nav-sref="office.routing.data.export", name='export'): a.md-accent export
  md-nav-item(md-nav-sref="office.routing.data.import", name='import'): a.md-accent import
ui-view
