md-nav-bar(md-theme='alt' md-selected-nav-item='parent.activeChildRoute', aria-label='routing nav')
  md-nav-item(md-nav-sref="office.routing.places.list", name='list'): a.md-accent list
  md-nav-item(md-nav-sref="office.routing.places.fields", name='fields'): a.md-accent fields
  //- md-tab(ng-click='vm.addPlace()', name='new'): a.md-accent new
  //- md-nav-item(md-nav-sref="office.routing.import", name='import'): a.md-primary Import
ui-view
