section
  .page-header
    h1(ng-bind='vm.article.title')
  small
    em.text-muted
      | Posted on
      span(ng-bind="vm.article.created | date:'mediumDate'")
      | by
      span(ng-if='vm.article.user', ng-bind='vm.article.user.displayName')
      span(ng-if='!vm.article.user') Deleted User
  p.lead(ng-bind='vm.article.content')
