<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{quote.clientName}},</p>
  <p></p>
  <p>This is a confirmation for your purchase of snow clearing services this winter season.</p>
  <p></p>
  <p>We have received your payment for ${{quote.total}} + applicable taxes. You should receive another confirmation from PalPayl with those details.</p>
  <br />
  <p>Thank you for registering and we look forward to servicing you.</p>
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>
