section#office.flex

  nav.sm-flex.center.absolute(style='top: -65px')
    md-button.px1.py2.sm-px3.m0.white(ui-sref-active='"bold"' ui-sref="office.routing") Routing
    md-button.px1.py2.sm-px3.m0.white(ui-sref-active='"bold"' ui-sref="office.updates") Updates

  div.width-100.block
    ui-view.flex.relative.height-100
