
// Converted Variables

$aqua: #7fdbff;
$blue: #2196f3;
$navy: #001f3f;
$teal: #39cccc;
$green: #4CAF50;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #F44336;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ccc;
$gray: #aaa;
$black: #222;

// Custom Media Query Variables


/* Basscss Colors */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

.black  { color: $black }

.gray   { color: $gray }

.silver { color: $silver }

.white  { color: $white }

.aqua  { color: $aqua }

.blue  { color: $blue }

.navy  { color: $navy }

.teal  { color: $teal }

.green { color: $green }

.olive { color: $olive }

.lime  { color: $lime }

.yellow  { color: $yellow }

.orange  { color: $orange }

.red     { color: $red }

.fuchsia { color: $fuchsia }

.purple  { color: $purple }

.maroon  { color: $maroon }

.color-inherit { color: inherit }

.muted { opacity: .5 }
