.page-header
  h1 Bad Request
.alert.alert-danger(role='alert')
  span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
  span.sr-only Error:
  span(ng-if='vm.errorMessage', ng-bind='vm.errorMessage')
  span(ng-if='!vm.errorMessage') You made a bad request
