.max-width-3.mx-auto.flex.flex-column.justify-center(style='height: calc(100vh - (136px))')
  md-card.p1.sm-p5.center
    h1.md-display-3 404 - Page Not Found
    //- .alert.alert-danger(role='alert')
    //-   span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
    //-   span.sr-only Error:
    //-   |  Page Not Found
