h1
  .container
    | About Our Service
    small Learn about our process and offers
.bg.about-bg
br
br
br
.container.lead
  .row
    .col-md-10.col-md-push-1
      p We pride ourselves on providing the most reliable residential snow removal service in GTA's West End. Clearmysnow has been operating since 2006, but the management behind it has been providing property maintenance services for over 25 years.
      p Aside from our experience, we are also well equipped to handle nature’s elements and to weather any storm - with an ever-growing fleet of trucks, tractors, plows, blowers, shovels, salt-supplies and more than a dozen staff on-call, we can tackle every snowstorm that Canada has to offer.

hr

.container.process-steps
  h2.text-center Our process
  .row
    .col-md-10.col-sm-offset-1
      .row
        .col-sm-4.text-center
          br
          br
          .center-block
            em.icon-directions(style="font-size:140px;color:#C1CEDE;")
        .col-sm-8
          h3 Routing
          p To ensure smooth service on a snow day, and a smooth season overall, we are meticulous with planning and organizing our winter routes. All of our drivers complete at least two practice runs before a single snowflake even hits the ground so that they are well acquainted with the route.
          p To ensure that our drivers can easily spot your property on service day, we install stakes in the lawn next to your driveway. The marker also indicates the edge of your driveway and helps protect your lawn from getting scraped by the plows or blowers.
      hr
      .row
        .col-sm-4.col-sm-push-8.text-center
          br
          br
          div.center-block(skycon="snow", color="#C1CEDE", width="140", height="140")
        .col-sm-8.col-sm-pull-4.text-right
          h3 Weather Watch
          p During the winter season, we actively monitor the weather for any possible snow events. We post frequent updates whenever there is a potential of snow, so that our clients can always be certain whether we will be servicing.
          p Since our crews are dispatched only after two inches of snow has accumulated, we always take into consideration the different areas of our territory. Sometimes the lake effects causes flurries near the water, while other times, it sends the clouds further north.
      hr
      .row
        .col-sm-4.text-center
          br
          br
          .center-block(style='-ms-transform: rotate(-7deg);-webkit-transform: rotate(-7deg);transform: rotate(-7deg);')
            em.icon-earphones-alt(style="font-size:140px;color:#C1CEDE;")
        .col-sm-8
          h3 Dispatch
          p Once two inches of snow has fallen, our crews are sent to their routes. Each route is covered by a dedicated plow driver and a shoveller. We continuously update and optimize our routes to ensure efficient service and the fastest possible service times.
          p Our office staff monitor our crews’ progress with GPS tracking installed in all vehicles. In case of any slowdowns or breakdowns, our staff are able to assign nearby vehicles to service any outstanding properties.
      hr
      .row
        .col-sm-4.col-sm-push-8.text-center
          br
          br
          .center-block(style='-ms-transform: rotate(7deg);-webkit-transform: rotate(7deg);transform: rotate(7deg);')
            em.icon-bell(style="font-size:140px;color:#C1CEDE;")
        .col-sm-8.col-sm-pull-4.text-right
          h3 Communication & Followup
          p As soon as a property has been serviced, the client is sent an automated email - provided that an email exists on file.
          p We post all service updates online as soon as they become available, including potential storms, partial service days, and full service updates. In cases of severe weather and extraneous circumstances, we post more detailed and more frequent updates regarding any relevant information.
          p In any event, our call center is available around the clock to address any questions or concerns directly over the phone.
br
br
br

hr

.container
  h2.text-center Pricing & Discounts
  .row
    .col-md-10.col-md-push-1.lead
      p We offer a range of payment options. We accommodate multiple installments and accept cash, credit and cheque payments. We also offer reasonable rates for single-service visits and vacation coverage.
      p For many of our clients, help with winter snow removal is not just a luxury, but a necessity. All of our senior clients receive a 5% discount on top all other ongoing promotions, which are listed below.
  br
  .row
    .col-md-10.col-md-push-1
      .row.text-center
        .col-sm-4.col-sm-offset-2
          .panel.panel-primary
            .panel-heading Sign up before Apr. 30
            .panel-body
              .h1: strong 5%
                small.text-muted off
            .panel-footer
              small For average savings of #[br] #[strong $120 - $150]
        .col-sm-4
          .panel.panel-primary
            .panel-heading Sign up before Sep. 30
            .panel-body
              .h1: strong 5%
                small.text-muted off
            .panel-footer
              small For average savings of #[br] #[strong $60 - $125]
        //- .col-sm-4
        //-   .panel.panel-primary
        //-     .panel-heading Sign up online
        //-     .panel-body
        //-       .h1: strong 5%
        //-         small.text-muted off
        //-     .panel-footer
        //-       small For average savings of #[br] #[strong $60 - $125]

.cta.jumbotron.text-center
  a.btn.btn-signup(ui-sref="quote") Get a Quote


.container
  h2.text-center More Information
  .row.lead
    .col-sm-4
      a.unlink(ui-sref="benefits")
        .well
          h3 Benefits
          p Learn more about our service benefits, including live vehicle tracking, automated email notifications, call center, and more.
    .col-sm-4
      a.unlink(ui-sref="faqs")
        .well
          h3 FAQs
          p Read through some of the most frequently asked questions relating to our service, collection of information, and payment security.
    .col-sm-4
      a.unlink(ui-sref="updates")
        .well
          h3 Service Updates
          p Browse through our updates section to see what we've been up to and view the latest announcements.
