section.z2
  .max-width-5.mx-auto
    .row.flex.flex-wrap.items-center.py4
      .md-col.md-col-6.p1
        h1.sm-right-align.caps.m0.md-display-1(style='letter-spacing: 0px;') Residential Snow Removal
        p.sm-right-align.larger.mb3
          | Providing a professional service and around-the-clock customer care during snow storms. GPS tracking and email notifications are a few of the many benefits that we bring to your property.
        ul.list-reset.flex.flex-wrap.muted
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Freezing Event Coverage
          li.col.col-6.mb1 
            md-icon.mr2 check
            | 24/7 Automatic Dispatch
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Email Notifications
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Live Service Updates
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Eco-Friendly Deicing
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Multiple Visits Per Storm
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Professional Crews
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Live Customer Service
          li.col.col-6.mb1 
            md-icon.mr2 check
            | Seniors Discount
          li.col.col-6.mb1 
            md-icon.mr2 check
            | No Hidden Fees

      .md-col.md-col-6.p1.pl1.md-pl3.feat-img.relative
        img.fit.md-whiteframe-8dp(src='/modules/core/client/img/feature.png')
section.z1.bg-blue.border-top.border-bottom.border-navy
  .center.py3(md-colors="{background: 'blue-800'}")
    md-button.md-raised.md-primary.px3.py2.larger(ui-sref='service.quote' md-no-ink='') Snow Removal Quote
section.z2.bg-center.bg-cover.py4.sm-py6(style='background-image: url(https://s3-us-west-2.amazonaws.com/clearmysnow/front/photos/cms-1.jpg)')
  .max-width-5.mx-auto
    .row.flex.flex-wrap
      .md-col.md-col-4.p2.flex
        md-card.px1
          md-card-title
            md-card-title-text
              span.md-title About Our Service
          md-divider
          md-card-content
            p.larger
              | Learn about our residential snow removal service, our process, and our pricing &amp; discounts
          md-card-actions.pb1(layout='row', layout-align='end center')
            md-button.md-raised.md-hue-4(md-no-ink='', ui-sref='service.process') Process
            md-button.md-raised.md-hue-4(md-no-ink='', ui-sref='service.benefits') Benefits
      .md-col.md-col-4.p2.flex
        md-card.px1
          md-card-title
            md-card-title-text
              span.md-title Service Area
          md-divider
          md-card-content
            p.larger
              | Make sure that your property is within our service area before deciding to sign up.
          md-card-actions.pb1(layout='row', layout-align='end center')
            md-button.md-raised.md-hue-4(md-no-ink='', ui-sref='service.area') Verify
      .md-col.md-col-4.p2.flex
        md-card.px1
          md-card-title
            md-card-title-text
              span.md-title Frequently Asked Questions
          md-divider
          md-card-content
            p.larger
              | Read through some of the most frequently asked questions about our service, pricing, and liabilities.
          md-card-actions.pb1(layout='row', layout-align='end center')
            md-button.md-raised.md-hue-4(md-no-ink='', ui-sref='info.faq') View
