section
  .page-header
    h1
      | Articles
      a.btn.btn-primary.pull-right(data-ui-sref='admin.articles.create')
        i.glyphicon.glyphicon-plus
  .list-group
    a.list-group-item(data-ng-repeat='article in vm.articles', data-ui-sref='admin.articles.edit({articleId: article._id})')
      small.list-group-item-text
        | Posted on
        span(data-ng-bind="article.created | date:'mediumDate'") 
        | by
        span(ng-if='article.user', ng-bind='article.user.displayName')
        span(ng-if='!article.user') Deleted User
      h4.list-group-item-heading(data-ng-bind='article.title')
      p.list-group-item-text(data-ng-bind='article.content')
  .alert.alert-warning.text-center(data-ng-if='articles.$resolved && !articles.length')
    | No articles yet, why don&apos;t you 
    a(data-ui-sref='admin.articles.create') create one
    | ?
