section
  .page-header
    h1
      | Info
      a.btn.btn-primary.pull-right(data-ui-sref='admin.info.create')
        i.glyphicon.glyphicon-plus
  .list-group
    a.list-group-item(data-ng-repeat='info in vm.info', data-ui-sref='admin.info.edit({infoId: info._id})')
      small.list-group-item-text
        | Posted on
        span(data-ng-bind="info.created | date:'mediumDate'") 
        | by
        span(ng-if='info.user', ng-bind='info.user.displayName')
        span(ng-if='!info.user') Deleted User
      h4.list-group-item-heading(data-ng-bind='info.title')
      p.list-group-item-text(data-ng-bind='info.content')
  .alert.alert-warning.text-center(data-ng-if='info.$resolved && !info.length')
    | No info yet, why don&apos;t you 
    a(data-ui-sref='admin.info.create') create one
    | ?
