md-toolbar.md-accent(style="min-height: 0; border-bottom: 1px solid rgba(0,0,0,0.12);")
  .md-toolbar-tools.max-width-5.mx-auto.justify-center
    nav
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="info.updates") Updates
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="info.faq") Faq
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="info.opportunities") Opportunities
      md-button.p2.m0(ui-sref-active='"bg-darken-1"' ui-sref="info.about") About
.max-width-4.mx-auto.my4
  md-card.p4
    ui-view
