md-card
  .p4.flex.flex-wrap
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_drizzle_sun")
      p cli_cloud_drizzle_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_drizzle")
      p cli_cloud_drizzle
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_fog_sun")
      p cli_cloud_fog_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_fog")
      p cli_cloud_fog
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_hail_sun")
      p cli_cloud_hail_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_hail")
      p cli_cloud_hail
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_lightning_sun")
      p cli_cloud_lightning_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_lightning")
      p cli_cloud_lightning
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_rain_sun")
      p cli_cloud_rain_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_rain")
      p cli_cloud_rain
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_snow_sun")
      p cli_cloud_snow_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_snow")
      p cli_cloud_snow
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_sun")
      p cli_cloud_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud")
      p cli_cloud
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_wind_sun")
      p cli_cloud_wind_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_cloud_wind")
      p cli_cloud_wind
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_compass_east")
      p cli_compass_east
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_compass_north")
      p cli_compass_north
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_compass_south")
      p cli_compass_south
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_compass")
      p cli_compass
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_compass_west")
      p cli_compass_west
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_degrees_celcius")
      p cli_degrees_celcius
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_degrees_fahrenheit")
      p cli_degrees_fahrenheit
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_first_quarter")
      p cli_moon_first_quarter
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_full")
      p cli_moon_full
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_last_quarter")
      p cli_moon_last_quarter
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_new")
      p cli_moon_new
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon")
      p cli_moon
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_waning_crescent")
      p cli_moon_waning_crescent
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_waning_gibbous")
      p cli_moon_waning_gibbous
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_waxing_crescent")
      p cli_moon_waxing_crescent
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_moon_waxing_gibbous")
      p cli_moon_waxing_gibbous
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_shades")
      p cli_shades
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_snowflake")
      p cli_snowflake
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_sun_lower")
      p cli_sun_lower
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_sun_low")
      p cli_sun_low
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_sunrise")
      p cli_sunrise
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_sunset")
      p cli_sunset
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_sun")
      p cli_sun
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_thermometer_100")
      p cli_thermometer_100
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_thermometer_25")
      p cli_thermometer_25
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_thermometer_50")
      p cli_thermometer_50
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_thermometer_75")
      p cli_thermometer_75
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_thermometer")
      p cli_thermometer
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_thermometer_zero")
      p cli_thermometer_zero
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_tornado")
      p cli_tornado
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_umbrella")
      p cli_umbrella
    div.flex.flex-column.flex-20.center
      md-icon.climacon(md-svg-icon="cli_wind")
      p cli_wind
