div.bg-center.bg-cover(style='background-image: url(https://s3-us-west-2.amazonaws.com/clearmysnow/front/photos/cms-2.jpg); height: 60vh; opacity: 0.85')

.max-width-3.mx-auto.mt4.mb6.px1
  .md-display-1 Employment Opportunities
  p.large We are always looking for dedicated, hard-working professionals to join our team. All currently available positions are listed in the tabs below. To inquire about work, or to send your resume,
  p.large 
    | Email: #[a(href='mailto:sales@clearmysnow.com') sales@clearmysnow.com]
    br
    | Call: #[a(href='tel:9062729939') (905) 272-9939]

  md-card.mt4
    md-tabs.md-accent(
    md-selected='0', 
    md-dynamic-height='', 
    md-border-bottom='')
      md-tab(md-active='bold')
        md-tab-label 
          .black Driver - Full Time
        md-tab-body
          md-content.md-padding
            p We are currently accepting applications for full-time drivers for the upcoming winter season. As a full-time driver, you will be called out for every snow clearing and salting operation.
            p Inquire by sending us an email and you can also call our office for more information.
      md-tab(md-active='bold')
        md-tab-label 
          .black Driver - On-Call
        md-tab-body
          md-content.md-padding
            p We are currently accepting applications for standby drivers for the upcoming winter season. As a standby driver, you may not be called out for every snow clearing, but we will need to be able to count on you during any storm in case we need you.
            p Inquire by sending us an email and you can also call our office for more information.
      md-tab(md-active='bold')
        md-tab-label 
          .black Shovelling - On-Call
        md-tab-body
          md-content.md-padding
            p We are currently accepting applications for hand-shovellers for the upcoming winter season.
            p Inquire by sending us an email and you can also call our office for more information.
      md-tab(md-active='bold')
        md-tab-label 
          .black Office Positions
        md-tab-body
          md-content.md-padding
            p We have just filled our vacant office positions.
